@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Gemstones&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Gemstones&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: aquamarine;
}
nav {
  height: 90px;
  background-color: black;
  color: rgb(155, 151, 151);
  padding: 5px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  font-family: "Jersey 10", sans-serif;
  font-size: 1.7rem;
  gap: 18px;
}
.logo img {
  height: 70px;
}
.text ul {
  gap: 50px;
  font-size: 2rem;
}
.text ul li {
  list-style: none;
}
.text ul li:hover{
  color: white;
  cursor: pointer;
}
.input .flex {
  gap: 20px;
}
.box {
  margin: 70px 0px;
  padding: 40px;
  height: 35vh;
  background-color: rgb(18, 115, 115);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box1 {
  padding: 30px;
  font-size: 4rem;
  color: rgb(6, 6, 59);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.content {
  text-align: center;
  padding: 30px;
  font-size: 1.6rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.input {
  height: 100px;
  background-color: rgb(18, 115, 115);
  padding: 30px;
  gap: 20px;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
input {
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
}
.btn {
  padding: 20px;
  border-radius: 30px;
  border: none;
  background-color: cadetblue;
  font-size: 1.7rem;
  margin: 10px;
}
.hide1 {
  display: block;
}
.about{
  display: none;
  height: auto;
  margin: 140px 0px;
  padding:70px 0px;
  background-color: rgb(18, 115, 115);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.hey{
  margin-top: 30px;
  height: 70%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.hey p{
  font-size: 2rem;
  margin: 20px;
}
.help{
  display: none;
  height: auto;
  margin:140px 0px;
  padding: 100px;
  background-color: rgb(18, 115, 115);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.heading1{
  margin-bottom: 20px;
  font-size: 3.8rem;
}
.heading2{
  padding: 20px;
  font-size: 2.7rem;
  text-decoration: underline;
}
.box2 {
  margin: 90px;
  height: 50vh;
  background-color: rgb(18, 115, 115);
  padding: 20px;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#name {
  margin: 0px 0px 0px 38px;
}
#amount {
  margin: 0px 0px 0px 10px;
}
.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 30px;
}
.hide2 {
  display: none;
}
.box3 {
  width: 100%;
  margin-top: 200px;
  height: auto;
  background-color: rgb(18, 115, 115);
  padding: 20px;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hello{
  width: 100%;
  text-align: center;
}
.box3 p{
  padding: 0px 50px;
}
.hello p{
    padding: 10px;
}
.hide3{
    display: flex;
}
.hide3 {
  display: none;
}
@media screen and (max-width: 940px) {
  .input {
    font-size: 1.5rem;
    height: 13vh;
  }
  input {
    font-size: 1.5rem;  
  }
  .heading1{
    font-size: 3.5rem;
    margin: 20px;
  }
  .heading2{
    font-size: 2.5rem;
  }
  .hey p{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 775px) {
  nav {
    height: 80px;
    padding: 5px 30px;
  }
  .logo {
    font-size: 1.2rem;
    gap: 10px;
  }
  .text ul {
    font-size: 1.2rem;
    gap: 20px;
  }
  .input {
    padding: 30px 20px;
    gap: 10px;
    font-size: 1.2rem;
    flex-wrap: wrap;
    height: auto;
  }
  input {
    padding: 10px;
    font-size: 1.2rem;
  }
  .btn {
    font-size: 1.2rem;
    padding: 10px;
  }
  .input .flex {
    gap: 10px;
  }
  .heading1{
    font-size: 3rem;
    margin: 10px;
  }
  .heading2{
    font-size: 2rem;
    padding-bottom: 10px;
  }
  .hey p{
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  nav {
    height: 80px;
    padding: 5px 20px;
  }
  .logo {
    font-size: 1rem;
    gap: 10px;
  }
  .logo img {
    height: 60px;
  }
  .box {
    padding: 15px;
  }
  .box1 {
    font-size: 3rem;
    padding: 10px;
  }
  .content {
    font-size: 1rem;
  }
  .box2{
    font-size: 1rem;
  }
  .box3{
    font-size: 1rem;
  }
  .text ul {
    font-size: 1rem;
    gap: 10px;
  }
  .input {
    padding: 20px;
    padding-top: 30px;
    gap: 10px;
    font-size: 1rem;
    flex-wrap: wrap;
    height: auto;
  }
  input {
    padding: 10px;
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
    padding: 10px;
  }
  .heading1{
    font-size: 2.7rem;
    margin: 20px;
  }
  .heading2{
    font-size: 1.7rem;
  }
  .hey p{
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 380px) {
  .logo img {
    height: 60px;
  }
  .box {
    padding: 15px;
    margin: 50px 0px;
  }
  .heading1{
    font-size: 2.2rem;
    margin: 10px;
  }
  .heading2{
    font-size: 1.5rem;
    padding-bottom: 0;
  }
  .hey p{
    font-size: 1rem;
  }
}
